<html>
    <head>
<title>mi sitio</title>
<link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <header>
            <p>mi sitio</p>
            <nav>
                <ul>
                    <li>
                        <a href="/peliculas/crear">crear peli</a> 
                    </li>
                    <li>
                        <a href="/peliculas">ver peli</a> 
                    </li>
                </ul>
            </nav>
        </header>